<ion-view view-title="Log Masuk">
  <ion-content class="padding">
    <form ng-submit="">
    <div class="list list-inset">

      <label class="item item-input">
        <input type="text" placeholder="Id Penjual" ng-model="data.IdPenjual" required>
      </label>

      <label class="item item-input">
              <input type="password" placeholder="Katalaluan" ng-model="data.Katalaluan" required>
      </label>

    </div>

    <button class="button button-block button-calm" ng-click="logmasuk()">Log Masuk</button>
    <center><button class="button button-clear button-positive">Belum daftar?</button></center>

  </ion-content>
</ion-view>









