<ion-view view-title="Muat Naik">
    <ion-content class="padding">

      <form ng-submit="barang.upload()">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nama Barang" ng-model="barang.data.namabarang" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="(RM)" ng-model="barang.data.harga" required>
            </label>
        <button class="button button-block button-calm" type="submit">Muat Naik</button>
      </form>
      <span ng-bind="barang.penjual | json"></span>

  </ion-content>
</ion-view>