<ion-view view-title="Carian">
  <ion-content class="padding">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Carian" ng-model="carian.keyword">
    </label>

    <button ng-click="search = ''" class="button ion-android-close input-button button-small" ng-show="search.length">Clear
    </button>
</div>
<ion-list>

<ion-item class="item-divider">Senarai barang</ion-item>

<ion-item ng-repeat="barang in carian" class="item-remove-animate item-icon-right">
<h2>{{barang.namabarang}}</h2>
<p>Harga: RM{{barang.harga}}</p>
<i class="icon ion-chevron-right icon-accessory"></i>
<ion-option-button class="button-assertive" >
</ion-option-button>
</ion-item>

</ion-list>
  </ion-content>
</ion-view>