<style>
    .angular-google-map-container { height: 600px; }
</style>
<ion-view view-title="Lokasi Barang">
    <ion-content>
      <body ng-controller="menu.navigasi()">
    <ion-header-bar class="bar-dark" >
      <h1 class="title">Peta</h1>
    </ion-header-bar>
    <ion-content>
      <ui-gmap-google-map MapTypeId="ROADMAP" center='{ latitude: 1.9100, longitude: 103.0556 }' zoom='13'>
            <ui-gmap-marker idkey="0" coords="{ latitude: 1.8586, longitude: 103.0856 }"></ui-gmap-marker>
            <ui-gmap-layer type="TransitLayer" show="show"></ui-gmap-layer>
      </ui-gmap-google-map>
    </ion-content>
  </body>
    </ion-content>

</ion-view>